@model QuestionsAnswers
@using PROJECT_QUIZ.Models.Models;
@{
    ViewData["Title"] = "Index";
}

<h1>Questions And Answers In Quiz</h1>

<p>
    <a asp-controller="Questions" asp-action="Create" asp-route-id="@Model.Questions.ElementAt(1).QuizID">Create New Question</a>
</p>

<h2>Vragen</h2>
<table class="table">
    <tr>
        <th>Vraag ID</th>
        <th>Vraag Text</th>
        <th>Quiz ID</th>
        <th>Image</th>
    </tr>
    @foreach (var item in Model.Questions)
    {
<tr>
    <td>@item.QuestionID</td>
    <td>@item.QuestionText</td>
    <td>@item.QuizID</td>
    <td>@item.ImageString</td>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <td>
            <a asp-controller="Answers" asp-action="Create" asp-route-id="@item.QuestionID">Add Answer</a>
            <a asp-action="Delete" asp-route-id="@item.QuestionID"> Delete </a>
        </td>
    }


</tr>
    }
</table>

<h2>Antwoorden</h2>
<table class="table">
    <tr>
        <th>Vraag</th>
        <th>Antwoord ID</th>
        <th>Antwoord Text</th>
        <th>Correct?</th>
    </tr>
    @foreach (var item in Model.Answers)
    {
<tr>
    <td>@item.QuestionId</td>
    <td>@item.AnswerID</td>
    <td>@item.AnswerText</td>
    <td>@item.Correct</td>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
     {
        <td>
            <a asp-controller="Answers" asp-action="Delete" asp-route-id="@item.AnswerID">Delete</a>
        </td>
     }
    </tr>
    }
</table>


