@model QuestionsAnswers
@using PROJECT_QUIZ.Models.Models;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Question</a>
</p>

<h2>Vragen</h2>
<table class="table">
    <tr>
        <th>Vraag ID</th>
        <th>Vraag Text</th>
        <th>Quiz ID</th>
        <th>Image</th>
    </tr>
    @foreach (var item in Model.Questions)
    {
        <tr>
            <td>@item.QuestionID</td>
            <td>@item.QuestionText</td>
            <td>@item.QuizID</td>
            <td>@item.ImageString</td>
        </tr>
    }
</table>

<h2>Antwoorden</h2>
<table class="table">
    <tr>
        <th>Vraag</th>
        <th>Antwoord ID</th>
        <th>Antwoord Text</th>
        <th>Correct?</th>
    </tr>
    @foreach (var item in Model.Answers)
    {
        <tr>
            <td>@item.QuestionId</td>
            <td>@item.AnswerID</td>
            <td>@item.AnswerText</td>
            <td>@item.Correct</td>
        </tr>

    }
</table>


