@model PROJECT_QUIZ.Models.Models.QuestionsAnswers

@{
    ViewData["Title"] = "Play";
}

<h1>Play</h1>

<h4>QuestionsAnswers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="QuestionsAnswers" asp-action="CatchForm">
            <table>
                @for (int i = 0; i < Model.Questions.Count(); i++)
                {
                    
                
                <tr>
                    <td><input type="hidden" id="QuestionID" name="QuestionID" asp-for="@Model.Questions.ElementAt(i).QuestionID" /></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="QuizID" name="QuizID" asp-for="@Model.Questions.ElementAt(i).QuizID" /></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="QuestionText" name="QuestionText" asp-for="@Model.Questions.ElementAt(i).QuestionText" /></td>
                </tr>
                <tr>
                    <td><h3>@Model.Questions.ElementAt(i).QuestionText</h3> </td>
                </tr>
                @for(int j = 0; j < Model.Answers.Count(); j++)
                {
                    if (Model.Questions.ElementAt(i).QuestionID == Model.Answers.ElementAt(j).QuestionId)
                    {
                        <tr>
                            <td><input type="hidden" id="Correct" name="Correct" asp-for="@Model.Answers.ElementAt(j).Correct" /></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" id="AnswerText" name="AnswerText" asp-for="@Model.Answers.ElementAt(j).AnswerText" /></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" id="QuestionID" name="QuestionID" asp-for="@Model.Answers.ElementAt(j).QuestionId" /></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" id="AnswerID" name="AnswerID" asp-for="@Model.Answers.ElementAt(j).AnswerID" /></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="Selected" name="Selected" asp-for="@Model.Answers.ElementAt(j).Selected" /></td>
                            <td>@Model.Answers.ElementAt(j).AnswerText</td>
                        </tr>

                    }
                }
            }


            </table>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
            <hr />

        </form>
    </div>
</div>



