@model PROJECT_QUIZ.Models.Models.QuestionsAnswers

@{
    ViewData["Title"] = "Play";
}

<h1>Play</h1>


<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="QuestionsAnswers" asp-action="CatchForm">
            <table>
                @foreach (var item in Model.Questions)
                {
                    <tr>
                        <td><input type="hidden" id="QuestionID" name="QuestionID" asp-for="@item.QuestionID" /></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="QuizID" name="QuizID" asp-for="@item.QuizID" /></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="QuestionText" name="QuestionText" asp-for="@item.QuestionText" /></td>
                    </tr>


                    <div class="card mb-3">
                        <h3 class="card-header">@item.QuestionText</h3>
                        <div class="card-body">
                            <h6 class="card-title">@item.QuestionID</h6>
                        </div>
                        @if (item.ImageData != null)
                        {
                            <img style="height: 200px; width: 100%; display: block;" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="Card image">
                        }
                        </div>
                    @foreach (var answer in Model.Answers)
                    {
                        if (item.QuestionID == answer.QuestionId)
                        {
                            <table>
                                <tr>
                                    <td><input type="hidden" id="Correct" name="Correct" asp-for="@answer.Correct" /></td>
                                </tr>
                                <tr>
                                    <td><input type="hidden" id="AnswerText" name="AnswerText" asp-for="@answer.AnswerText" /></td>
                                </tr>
                                <tr>
                                    <td><input type="hidden" id="AnswerID" name="AnswerID" asp-for="@answer.AnswerID" /></td>
                                </tr>
                                <tr style="margin-bottom: 40px;">
                                    <td><input type="radio" name="@item.QuestionID" value="@answer.Correct" asp-for="@answer.Selected" required /></td>
                                    <td>@answer.AnswerText</td>
                                </tr>
                            </table>
                        }
                    }

                }
            </table>
            <tr>
                <td><input type="submit" value="Submit" class="btn btn-primary" /></td>
            </tr>
        </form>
    </div>
</div>



