@model PROJECT_QUIZ.Models.Models.QuestionsAnswers

@{
    ViewData["Title"] = "Play";
}

<h1>Play</h1>

<h4>QuestionsAnswers</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="QuestionsAnswers" asp-action="CatchForm">
            <table>
                @foreach (var item in Model.Questions)
                {


                    <tr>
                        <td><input type="hidden" id="QuestionID" name="QuestionID" asp-for="@item.QuestionID" /></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="QuizID" name="QuizID" asp-for="@item.QuizID" /></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="QuestionText" name="QuestionText" asp-for="@item.QuestionText" /></td>
                    </tr>
                    <tr>
                        <td><h3>@item.QuestionText</h3> </td>
                    </tr>
                    @foreach (var answer in Model.Answers)
                    {
                        if (item.QuestionID == answer.QuestionId)
                        {
                            <table>
                                <tr>
                                    <td><input type="hidden" id="Correct" name="Correct" asp-for="@answer.Correct" /></td>
                                </tr>
                                <tr>
                                    <td><input type="hidden" id="AnswerText" name="AnswerText" asp-for="@answer.AnswerText" /></td>
                                </tr>
                                <tr>
                                    <td><input type="hidden" id="AnswerQuestionID" name="AnswerQuestionID" asp-for="@answer.QuestionId" /></td>
                                </tr>
                                <tr>
                                    <td><input type="hidden" id="AnswerID" name="AnswerID" asp-for="@answer.AnswerID" /></td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="@item.QuestionID"  value="@answer.Correct" asp-for="@answer.Selected" /></td>
                                    <td>@answer.AnswerText</td>
                                </tr>
                            </table>
                        }
                    }

                }


            </table>

            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </form>
    </div>
</div>



