@model IEnumerable<PROJECT_QUIZ.Models.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Quiz List</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a class="btn btn-info" asp-action="Create">Create new quiz</a>
    }
    
</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-4">
        <div class="card text-white bg-success mb-3" style="max-width: 22rem;">
            <div class="card-header">@item.QuizID</div>
            <div class="card-body">
                <h4 class="card-title">@item.QuizName</h4>
                <p class="card-text">
                    Subject: @item.Subject <br />
                    Difficulty: @item.Difficulty <br />
                    Rating: @item.Rating
                </p>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" style="color: white;" asp-route-id="@item.QuizID">Edit |</a>
                    <a asp-action="Delete" style="color: white;" asp-route-id="@item.QuizID">Delete |</a>
                    <a asp-controller="QuestionsAnswers" style="color: white;" asp-route-id="@item.QuizID" asp-action="Index">Vragen |</a>
                }
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Student") || User.IsInRole("Admin")))
                {

                    <a asp-controller="QuestionsAnswers" style="color: white;" asp-route-id="@item.QuizID" asp-action="Play"> Play |</a>
                    <a asp-controller="History" style="color: white;" asp-route-id="@item.QuizID" asp-action="Leaderboard"> Leaderboard</a>
                }
            </div>
        </div>
    </div>
    }
</div>

